name: Lint Check
on: 
    push: 
        branches: [main]
    pull_request: 
        branches: [main]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code 
              uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8

            - name: Set up Node
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903

            - name: Install dependencies
              run: npm ci

            - name: Run ESLint
              run: npm run lint


